@font-face {
	font-family: 'Futura Std';
  	src: 
  		local('Futura'),
  		url('fonts/FuturaStd-Book.otf')
  		format('opentype');
}
@font-face {
	font-family: 'Futura Std Bold';
  	src: 
  		local('Futura Bold'),
  		url('fonts/FuturaStd-Bold.otf')
  		format('opentype');
}

body {
	font-family:'Futura Std', sans-serif;
	background-color: white;
	color: black;
	font-size: 15px;
	line-height: 1.4em;
	margin: 1em 1.3em;

}

header {
	margin-top: 2.7em;
}

a {
	color: #f33;
}

a:visited {
	color: #f33;
}

a:hover {
	color: #666;
}

#content h4 {
	line-height: 1.4em;
	/*top: 50%;*/
/*    position: fixed;
    -webkit-transform: translateY(-60%);
       -moz-transform: translateY(-60%);
        -ms-transform: translateY(-60%);
         -o-transform: translateY(-60%);
            transform: translateY(-60%);*/
}


@media only screen and (min-width: 500px) {

}


