@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue.dfont');
}

body {
	font-family:'Helvetica Neue', sans-serif;
	background-color: white;
	color: black;
}

#about {
	margin-top: 30px;
}
#description {
	margin-top: 15px;
}

a {
	color: #f33;
}

a:visited {
	color: #f33;
}

a:hover {
	color: #666;
}

#content {
	padding: 5% 5%;
	
}

.content-child {
	padding: 10% 0;

}

#img-div {
	display: flex;
	flex-wrap: nowrap;
	/*background-image: url("profile.jpg")*/
}

img {
	width: 100%;
	height:100%;
}

#text-div {
	padding-right: 60px;
}


/*#linkedinLink {
	text-decoration: none;
	color: #777;
}

.socialLink {
	margin-top: 30px;
}

#linkedinLink:visited {
	text-decoration: none;
	color: #777;
}

#linkedinLink:hover {
	text-decoration: none;
	color: #0077B5;
}*/

.body-text {
	line-height: 1.5em;
}

/*img {
	width: 100%;
}*/

@media only screen and (max-width: 900px) {
	img {
		display: none;
	}
	#text-div {
		padding-right: 0;
	}
}




@media only screen and (max-width: 500px) {
    body {
		margin: auto 10%;
	}

	h1 {
		font-size: 24px;
	}

	#about {
		margin-top: 40px;
	}
	#description {
		margin-top: 30px;
	}
	.body-text {
		font-size: 15px;
	}
}


