@font-face {
	font-family: 'Futura Std';
  	src: 
  		local('Futura'),
  		url('fonts/FuturaStd-Book.otf')
  		format('opentype');
}

@font-face {
	font-family: 'Futura Std';
  	src: 
  		local('Futura Bold'),
  		local('Futura-Bold'),
  		url('fonts/FuturaStd-Bold.otf')
  		format('opentype');
  		font-weight: bold;
}

body {
	font-family:'Futura Std', sans-serif;
	background-color: white;
	color: black;
	font-size: 20px;
}

#about {
	margin-top: 30px;
}
#description {
	margin-top: 15px;
	max-width: 80%;
}

a {
	color: #f33;
}

a:visited {
	color: #f33;
}

a:hover {
	color: #666;
}

#content {
	padding: 5% 5%;
}

#text-div {
	padding-right: 60px;
	top: 50%;
    position: fixed;
    -webkit-transform: translateY(-70%);
       -moz-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
         -o-transform: translateY(-70%);
            transform: translateY(-70%);
}

.body-text {
	line-height: 1.7em;
}

@media only screen and (max-width: 995px) {
	#description {
		max-width: 70%;
	}
	#text-div {
		padding-right: 0;
	}
}


@media only screen and (max-width: 500px) {
    body {
		margin: auto 10%;
	}

	h1 {
		font-size: 24px;
	}

	#about {
		margin-top: 40px;
	}
	#description {
		margin-top: 30px;
		max-width: 100%
	}
	.body-text {
		font-size: 15px;
	}
}


