@font-face {
	font-family: 'Futura Std';
  	src: 
  		local('Futura'),
  		url('fonts/FuturaStd-Book.otf')
  		format('opentype');
}

$linkColor: #f33;
$black: #000;
$white: #fff;
$grey: #666;

html, body {
	height:100%;
	margin:0;
}

body {
	font-family:'Futura Std', sans-serif;
	background-color: #fffbed;
	color: $black;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2.7em 1.3em;
}

header {
	p {
		font-size: 1.4em;
	}
}

a {
	color: $grey;
}
a:visited {
	color: $linkColor;
}
a:hover {
	color: $linkColor;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;


	p {
		line-height: 1.4em;
		padding-bottom: 1em;
	}
} 

footer {
	color: $grey;
}


@media only screen and (min-width: 25em) {
	#content {
		p {
			max-width: 24em;
		}
	}
}

@media only screen and (min-width: 30em) {
	body {
		padding: 2.7em 3.3em;
	}
}

@media only screen and (min-width: 55em) {
	body {
		padding: 2.7em 5em;
	}

	#content {
		p {
			font-size: 1.2em;
		}
	}
}

@media only screen and (min-width: 75em) {
	body {
		padding: 2.7em 7em;
	}
}


@media only screen and (min-width: 90em) {
	body {
		padding: 10em;
	}

	header {
		p {
			font-size: 1.8em;
		}
	}

	#content {
		p {
			font-size: 1.6em;
		}
	}

	footer {
		font-size: 1.2em;
	}
}